.navbar{
    color: #fff;
    padding: 12px 0;
    background-color: #242526;
}
.navbar-container{
    max-width: 1280px;
    margin: auto;
    display: flex;
    align-items: center;
    color: #fff;
    padding: 0 25px;
    justify-content: space-between;
    background-color: #242526;
    .mobile-brand-name{
        display: none;
    }
    .right-container{
        display: flex;
        align-items: center;
        gap: 15px;
        cursor: pointer;
        img{
            width: 25px;
            border-radius: 50%;
        }
    }
}

@media screen and (max-width: 480px) {
    .navbar-container{
        .mobile-brand-name{
            display: block;
        }
    }
    .desktop-brand-name{
        display: none;
    }
}

@media screen and (max-width: 481px) {
    .desktop-brand-name{
        display: none;
    }
}
  